body {
    margin: 0;
    padding: 0;
    background-image: url("/static/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg");
    background-size: cover;
    font-family: 'Roboto' , sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: rgb(255, 255, 255, 0.1);
    padding: 32px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    width: 300px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.login-container input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid rgb(255, 255, 255, 0.3);
    background: rgb(255, 255, 255, 0.15);
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    color: white;
    font-size: 13px;
    outline: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #28e728;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #21c821;
}

.login-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

