<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My first project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Helo bro whasaa up </h1>
    <p class="center-text">This is pro khaise from Drk. i made this website for nothing kido</p>


    <script src="{{ url_for('static', filename='location.js') }}"></script> 
</body>
</html>
